.search-box-container {
  background-color: var(--dark-blue-dark-mode-elements);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search-box-container svg {
  padding-left: 20px;
}

.fa-solid.fa-magnifying-glass {
  color: white;
  margin-left: 20px;
}

.search-box {
  margin-left: 20px;
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  background-color: var(--dark-blue-dark-mode-elements);
  color: var(--white);
  border-radius: 0 10px 10px 0;
}

@media (min-width: 414px) {
  .search-box-container {
    width: 500px;
  }
}
