.country-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 40px;
  margin: 40px 0 0;
  justify-content: center;
}

@media (min-width: 414px) {
  .country-list-container {
    justify-content: flex-start;
  }
}
