header {
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue-dark-mode-elements);
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

header h2 {
  font-size: 20px;
}

.dark-mode {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark-mode:hover {
  cursor: pointer;
}

@media (min-width: 414px) {
  header {
    padding-left: 50px;
  }

  header h2 {
    font-size: 30px;
  }
}
